.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

nav {
 	padding-top: 15px;
 	position: fixed;
 	margin-left: 30px;
 }

nav ul {
 	display: flex;
 	flex-direction: row;
 	list-style-type: none;
}

nav ul li{
 	margin-left: 20px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	color: blue;
}